*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: aqua;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}
/*==========================add button=============================*/
.main_notes{
    position: absolute;
    z-index: 100;
    top: 3rem;
    right: 3rem;
}
.main_notes ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    flex-direction: row;
    color: white;
}
.main_notes ul li{
    cursor: pointer;
    border-radius: 5px;
    background: green;
    padding: 1rem;
}
.main_notes ul li:hover{
    background: #46a903;
    border-radius: 5px;
}

/*========================note===========================*/
.note{
    width: 350px;
    margin: 3rem;
    height: 350px;
    background: #ECFAF5;
}

.note .tools{
    display: flex;
    align-items: center;
    width: 100%;
    height: 3rem;
    background: #9EC862;
    justify-content: space-between;
    color: #ffffff;
}
.note .tools i{
    font-size: 1.5rem;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    background: transparent;
}
.note .tools i:hover{
    color: #ddebff;
}
.note .text {
    width: 100%;
    height: 90%;
}
.note textarea{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 20px;
    line-height: 1.5;
    padding: 0.5rem;
    max-lines: 10;
}
.hidden{
    display: none;
}


